.bookDetail-container {
  margin: 0 auto;
  margin-top: 1.2rem;
  width: 13rem;
  position: relative;
}
.bookDetail-container .content {
  position: relative;
  width: 9.75rem;
  padding-top: 0.625rem;
  padding-left: 0.475rem;
}
.bookDetail-container .content h2 {
  font-size: 0.55rem;
  line-height: 1.1rem;
  color: #111111;
}
.bookDetail-container .content .sumarize {
  margin-top: 0.3rem;
}
.bookDetail-container .content .sumarize p {
  font-size: 0.225rem;
  line-height: 0.3rem;
  color: #494949;
}
.bookDetail-container .content .author {
  margin-top: 0.3rem;
}
.bookDetail-container .content .author p {
  font-size: 0.225rem;
  line-height: 0.3rem;
  color: #494949;
}
.bookDetail-container .content .detail-containe-score {
  position: relative;
  width: 10.5rem;
  height: 0.4rem;
}
.bookDetail-container .content .detail-containe-score img {
  width: 1.4rem;
  height: 0.4rem;
  position: absolute;
  top: 0;
  left: 0;
}
.bookDetail-container .content .detail-containe-score span {
  position: absolute;
  top: 0;
  left: 1.625rem;
  font-size: 0.4rem;
  color: #494949;
}
.bookDetail-container .content .detail-containe-score p {
  position: absolute;
  top: 0;
  left: 2.5rem;
  font-size: 0.4rem;
  line-height: 0.4rem;
  font-weight: 400;
  color: #494949;
}
.bookDetail-container .content .detail-containe-score p strong {
  font-size: 0.4rem;
  font-weight: 400;
  color: #494949;
}
.bookDetail-container img {
  position: absolute;
  width: 2.5rem;
  height: 3.75rem;
  top: 1.725rem;
  right: 0.175rem;
}
