.indexGetDetail {
  width: 11.775rem;
  margin: 0 auto;
  margin-top: 1.2rem;
}
.indexGetDetail .indexGetDetail-head h2 {
  font-size: 0.425rem;
  font-weight: 700;
  line-height: 1.4rem;
}
.indexGetDetail .indexGetDetail-head img {
  width: 6.6rem;
  height: 9.875rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.625rem;
}
.indexGetDetail .indexGetDetail-detail {
  width: 11.775rem;
  margin: 0 auto;
  padding-left: 1rem;
  position: relative;
}
.indexGetDetail .indexGetDetail-detail span {
  font-size: 0.3rem;
  line-height: 0.45rem;
  position: absolute;
  left: 0;
  color: #666666;
}
.indexGetDetail .indexGetDetail-detail ul li {
  font-size: 0.3rem;
  line-height: 0.45rem;
}
.indexGetDetail .indexGetDetail-content {
  font-size: 0.3rem;
  line-height: 0.4rem;
}
.indexGetDetail .activities-details {
  font-size: 0.5rem;
  line-height: 1.4rem;
  color: #007722;
}
